# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
bin/
*.Debug
*.Release

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
*.qmfutil

**/debug/
**/release/

# CVS
CVS

# Java
*.class
target
*widgetsets
*.idea
*.iml
.metadata
.classpath
.project
.settings
.log
.css
/.m2

#AsciiDoc
asciidoc-temp*.xml
doku/src/main/asciidoc/*.pdf
doku/src/main/asciidoc/*.html
doku/src/main/asciidoc/*.odt
*.stash
*.opt

#Reports
/reports

#Other
java-wmsdb-dump.wdf
thirdparty/antlr/antlr4-cpp-runtime-4.7.2-source/files_h.txt
thirdparty/antlr/antlr4-cpp-runtime-4.7.2-source/files_all.txt
thirdparty/antlr/antlr4-cpp-runtime-4.7.2-source/files.txt
clitools/wmsdatainterface/project/compile.txt
*.qrc
